port=2000

proxy third-party {
    port=8080
    stub plusone.google.com {
            response = 404
            header = []
            body = []
    }
    stub apis.google.com {
            response = 404
            header = []
            body = []
    }
    stub www.google.com {
            response = 404
            header = []
            body = []
    }
    
    stub dis.eu.criteo.com {
    response = 204
            header = []
            body = []            
    }   
    stub www.google-analytics.com {
    response = 204
            header = []
            body = []            
    }   
    stub e.nexac.com {
            response = 204
            header = []
            body = []            
    }   
    stub cdn.flashtalking.com {
            response = 204
            header = []
            body = []            
    }   
    stub ad.yieldmanager.com {
            response = 204
            header = []
            body = []            
    }   
    stub www.googleadservices.com {
            response = 204
            header = []
            body = []            
    }   
    stub js.adsrvr.org {
            response = 204
            header = []
            body = []            
    }   
    stub ad-emea.doubleclick.net {
            response = 204
            header = []
            body = []            
    }   
    stub cg-global.maxymiser.com {
            response = 204
            header = []
            body = []            
    }   
    stub apis.google.com {
            response = 204
            header = []
            body = []            
    }   
    stub www.facebook.com {
            response = 204
            header = []
            body = []            
    }   
    stub servedby.flashtalking.com {
            response = 204
            header = []
            body = []            
    }   
    stub statse.webtrendslive.com {
            response = 204
            header = []
            body = []            
    }   
    stub lateroomsuk.widget.criteo.com {
            response = 204
            header = []
            body = []            
    }   
    stub www.laterooms.com/TeaLeafTarget.aspx {
            response = 204
            header = []
            body = []            
    }   
    stub fls.doubleclick.net {
            response = 204
            header = []
            body = []            
    }   
	debug=0
}